/*@import url(https://fonts.googleapis.com/css?family=Alef:400,700&subset=latin,hebrew);*/

@media screen and (max-width: 479px) {
  #container{
    width:100%;    
    right:0%;
  }  
  
  #logo{
    width:100%;    
    right:0%;
  }  
  
}

@media screen and (min-width: 480px) {
  #container{
    width:80%;    
    right:10%;
  }
  
  #logo{
    width:80%;    
    right:10%;
  }  
  
  
}

@media screen and (min-width: 720px) {
  #container {
    width:60%;
    right:20%;
  }
  #logo{
    width:60%;    
    right:20%;
  }  
}

body{
    font-family: 'Alef', sans-serif;
  
  direction: rtl; 
  display: flex;
  justify-content: center;
}

#logo {
  background-color: #cc0000;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#logo img {
  height: 30px;
  width: 60px;
  margin: 3px;
  
}

#container {
  display: flex;
  flex-direction: column;
  
  position: absolute;
  top:0px;
  
  height: 100vh;
}

#headerTitle{
  background-color: #cc0000;
  color: white;
  border-bottom: 1px solid #cc0000;
  font-size: 1.5em;
  padding: 3px;
}

#headerBreadCrumbs {
  background-color: #cc0000;
  color: white;
  border-bottom: 1px solid #ce8181;
}

#headerMenu{
    width:100%;
    
    display: flex;
    justify-content:space-between;
  background-color: #cc0000;
  
}

#headerMenu div {
  color: white;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #cb4a4a;
  width:100%;
}

#headerMenu div i {
  text-align:center;
}

wrapper{
    
  flex-grow: 11; 
  overflow-y:auto;
  background-color: #dbdbdb;
}

footer{   
  
  height: 70px;
  flex-grow: 1;  
  font-size: 1.25em;
  font-weight: 700;
  
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  
  align-content: stretch;  
}



.footer-btn {
  
  padding: 5px;
  
  flex-grow: 1;
  
  text-align: center;
  vertical-align: text-bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-right: 1px solid #ce8181;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc2424+0,cc2a2a+53,cc0000+100 */
background: #cc2424; /* Old browsers */
background: -moz-linear-gradient(top, #cc2424 0%, #cc2a2a 53%, #cc0000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #cc2424 0%,#cc2a2a 53%,#cc0000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #cc2424 0%,#cc2a2a 53%,#cc0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2424', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
}

.footer-btn:hover {
  position: relative;
  /* background-color: #FF7043; */
}


.titles {
  background-color: #4A148C;
  font-weight: 700;
  color: white;
  text-align: center;
}

.material-ripple > span {
  position: relative;
  display: block;
  color: white;
}




.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.card {
  box-shadow: 2px 2px 2px gray;
  border-radius: 5px;
  border-color: #9a9a9a;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: white;
}


    




