/*@import url(https://fonts.googleapis.com/css?family=Alef:400,700&subset=latin,hebrew);*/

@media screen and (max-width: 479px) {
  #container{
    width:100%;    
    right:0%;
  }  
  
  #logo{
    width:100%;    
    right:0%;
  }  
  
  footer{
    width:100%;
    right:0%;
  }

}

@media screen and (min-width: 480px) {
  #container{
    width:80%;    
    right:10%;
  }
  
  #logo{
    width:80%;    
    right:10%;
  }  
  
  footer{
    width:80%;
    right:10%;
  }
  
}

@media screen and (min-width: 720px) {
  #container {
    width:60%;
    right:20%;
  }
  #logo{
    width:60%;    
    right:20%;
  }

  footer{
    width:60%;
    right:20%;
  }
}

body{
    font-family: 'Alef', sans-serif;
  
  direction: rtl; 
  display: flex;
  justify-content: center;
}

#logo {
  background-color: #cc0000;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#logo img {
  height: 30px;
  width: 60px;
  margin: 3px;
  
}

#container {
  display: flex;
  flex-direction: column;
  
  position: absolute;
  top:0px;
  
  height: 100vh;
}

#headerTitle{
  background-color: #cc0000;
  color: white;
  border-bottom: 1px solid #cc0000;
  font-size: 1.5em;
  padding: 3px;
  
  box-shadow: 0px 5px 5px gray;
  z-index: 5;
}

#headerBreadCrumbs {
  background-color: #cc0000;
  color: white;
  border-bottom: 1px solid #ce8181;
}

#headerMenu{
    width:100%;
    
    display: flex;
    justify-content:space-between;
    background-color: #cc0000;
  
}

#headerMenu div {
  color: white;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #cb4a4a;
  width:100%;
}

#headerMenu div i {
  text-align:center;
}

.btn-header {
   background-color: background-color:#cc0000;
}
.btn-header:hover {
  background-color: background-color:#A10000;
}

wrapper{
    
  flex-grow: 11; 
  overflow-y:auto;
  background-color: #dbdbdb;
}

footer{   
  
  position: fixed;
  bottom: 0px;
  height: 50px;


  flex-grow: 1;  
  font-size: 1.25em;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  
  align-content: stretch;  
}



.footer-btn {
  
  padding: 5px;
  
  flex-grow: 1;
  
  text-align: center;
  vertical-align: text-bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-right: 1px solid #ce8181;
  
 background-color: #cc0000;
}

.footer-btn:hover {
  position: relative;
  background-color:#A10000;
}


.titles {
  background-color: #4A148C;
  font-weight: 700;
  color: white;
  text-align: center;
}

.clickables {
  cursor: pointer;
}

.material-ripple > span {
  position: relative;
  display: block;
  color: white;
}




.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.card {
  box-shadow: 2px 2px 2px gray;
  border-radius: 5px;
  border-color: #9a9a9a;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: white;
}

.groupDescription{
  border-bottom: 1px solid gray;
}

#btnAdd{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
    bottom: 13%;
    right: 13%;
}
#btnAdd:hover{
    cursor: pointer;
/*    cursor: pointer;*/
}

button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #5050f5;
  color: white;
  font-style: italic;
}

input {
  height: 32px;
  border-radius: 5px;
  padding-left: 5px;
}

/* --- Simple voting */
.simpleVoteWrapper1{
  width: 100%;
  position: absolute;
  bottom: 50px;
  left:0px
}

.simpleVoteWrapper2{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: flex-start;

  width: 100%;


}

.simpleVotingBar{
  margin: 5px;
  padding: 5px;
  height: 90px;
  background-color: #cc4545;
  color: white;
  align-self: flex-end;
  display: flex;
  justify-content: center;

}

.voteBtnContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}

.voteInfoContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}

.voteBtn{
  background-color: #cc4545;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tmpMulCon{
  width: 100%;
  background-color: #cc4545;
  color: white;

  display: flex;
  flex-direction: column;
}




