footer{
  height: 50px;
  width: 100%;
  font-size: 1.25em;
  font-weight: 700;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
.footer-btn {
  padding: 5px;
  flex-grow: 1;
  text-align: center;
  vertical-align: text-bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ce8181;
  background-color: @bg-main700;
  color: white;
    &:hover{
        position: relative;
        background-color:#A10000;
    }
}
